.wrapperCard{
    display: grid;
    height: 100%;   
    text-decoration: none;
    color: var(--color-white);
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.6rem #47474727, -0.2rem -0.2rem 0.5rem #47474727;
    transition: transform .1s linear;
}

.wrapperCard:hover{
    transform: translate(5px, 20px);
}