.sectionBody {
  min-height: 88vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  padding: 1.5rem 3rem;
}

.footer {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  & a:hover svg path {
    fill: #666666;
  }
}